.app {
  width: 960px;
  margin: 0 auto;
}

header {
  margin-bottom: 60px;
}

header ul li {
  display: inline-block;
  width: 120px;
  text-align: center;
}

table {
  width: 100%;
}

table thead th {
  text-align: left;
}

form {
  width: 100%;
}

label {
  display: inline-block;
  width: 160px;
}